* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sora', sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;

  display: inline-block;
  min-width: 205px;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 20px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  background: #2e80ce;
  color: #fff;
  border: 1px solid #2e80ce;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

/* Header */
.header {
  min-height: 100vh;
  background: var(--header-bg);
  padding: 30px 0 110px;
}

.logo {
  position: relative;
  font-size: 1rem;
  display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #ffffff;
}

.logo__text {
  text-align: right;
  color: #fff;
  margin-left: 6px;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.header-action__login,
.nav__link {
  padding: 4px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.nav__link:hover,
.nav__link--active {
  text-shadow: 1px 0 0 currentColor;
  font-weight: 400;
  color: #fff;
}

.nav__link--active::before {
  position: relative;
  right: 8px;
  top: -2px;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;

  min-width: 104px;
  height: var(--height);
  line-height: var(--height);
  font-size: 1.6rem;
}

/* Hero */
.hero {
  display: flex;
  margin-top: 76px;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 38px;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  width: 330px;
  height: 540px;
  border-radius: 6px;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* Service */
.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.service__img {
  object-fit: cover;
  border-radius: 12px;
  width: 570px;
  height: 570px;
}

.service__list {
  margin-bottom: 75px;
}

/* Service item 1 */
.service-item {
  display: flex;
  width: 470px;
  height: 128px;
  padding: 22px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  background: #2e80ce;
  color: #fff;
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #10375c;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}

.service-item__body {
  margin-left: 19px;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service-item__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

/* Work */
.work {
  background: #f6fbff;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 70px;
}

.work-item {
  padding: 44px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work-item__more {
  display: inline-block;
  margin-top: 12px;
  padding: 6px 6px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

/* Feature */
.feature {
  padding: 85px 0;
  margin-top: 85px;
}

.feature__inner {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
}

.feature__img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 332px;
}

.feature__cta {
  margin-top: 38px;
}

/* Member */
.member {
  padding: 85px 0;
  text-align: center;
}

.member__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__heading {
  margin-bottom: 38px;
}

.member__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 70px;
}

.member-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}

.member-item__thumb {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: 290px;
  transition: 0.25s;
}

.member-item:hover .member-item__thumb {
  transform: scale(1.1);
}

.member-item__name {
  margin-top: 12px;
  color: #10375c;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;
}

.member-item__title {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

.member__control {
  margin-top: 38px;
}

.control {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  outline: none;
  color: #575f66;
  background: #fff;
  transition: 0.25s;
}

.control__btn:hover {
  color: #fff;
  cursor: pointer;
  border-color: #2e80ce;
  background: #2e80ce;
}

.control-next-icon {
  rotate: 180deg;
}
