* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Sora', sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;

  display: inline-block;
  min-width: 205px;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  padding: 0 20px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 99px;
  background: #2e80ce;
  color: #fff;
  border: 1px solid #2e80ce;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Header */
.header {
  min-height: 100vh;
  background: var(--header-bg);
  padding-top: 30px;
}

.header.fixed {
  position: sticky;
  background: #10375c;
  top: -30px;
  z-index: 1;
}

.logo {
  position: relative;
  font-size: 1rem;
  display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3em;
  height: 3em;
  background: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #ffffff;
}

.logo__text {
  text-align: right;
  color: #fff;
  margin-left: 6px;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Header top */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.header-action__login,
.nav__link {
  padding: 4px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
}

.nav__link:hover,
.nav__link--active {
  text-shadow: 1px 0 0 currentColor;
  font-weight: 400;
  color: #fff;
}

.nav__link--active::before {
  position: relative;
  right: 8px;
  top: -2px;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;

  min-width: 104px;
  height: var(--height);
  line-height: var(--height);
  font-size: 1.6rem;
}

/* Hero */
.hero {
  display: flex;
  margin-top: 76px;
  align-items: center;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  margin-left: 38px;
}

.hero__media {
  flex-grow: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  width: 330px;
  height: 540px;
  border-radius: 6px;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}
